.about-us-container {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  padding: 40px 20px;
}
  
  .about-us-heading {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  .about-us-description {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.6);
}
  
.about-us-content {
  font-size: 1rem;
  line-height: 1.7;
  color: #f9f9f9;
  margin-bottom: 15px;
}
  .plant_logo_right{
    text-align: right;
  }

  .plant_logo_left{
    text-align: left;
  }